<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="tv1" class="polymorphism.ssTV08">
		<constructor-arg index="0" ref = "pd"></constructor-arg> <!-- 참조형 -->
		<constructor-arg index="1" value = "127000"></constructor-arg> <!-- 값 형 -->
	</bean>
	
	<!-- 파라미터 주기 -->
	<!-- tv02.setPrice("24000"); 와 동일 -->
	<bean 	id="tv2" 
			class="polymorphism.ssTV08"
			p:speaker-ref="nb" 
			p:price="24000"/>

	
	<bean id="pd" class="polymorphism.pdSpeaker05" />
	<bean id="nb" class="polymorphism.pdSpeaker05" />
	
	
</beans>
