<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.enc.biz">
	</context:component-scan>
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<context:property-placeholder location="classpath:config/database.properties"/>


	<bean id="log" class="com.enc.biz.common.LogAdvice" ></bean>
	<bean id="log4j" class="com.enc.biz.common.Log4jAdvice" ></bean>
	
	<aop:aspectj-autoproxy />
	
	<aop:config>
	 <!-- pointcut = 어떤 메소드를 대상으로 할지 결정  -->
		<aop:pointcut id="allPointcut"
			expression="execution(* com.enc.biz..*Impl.*(..))" />
			
<!-- 		<aop:pointcut id="getPointcut"
			expression="execution(* com.enc.biz..*Impl.get*(..))"/>	 -->	
			
	    <aop:aspect ref="log4j">		
			<aop:before pointcut-ref="allPointcut" method="printLogging" />
	     </aop:aspect> 	
	     
<!-- 	     <aop:aspect ref="log">
			<aop:after pointcut-ref="getPointcut" method="printLog" />
		</aop:aspect>  -->
	</aop:config>	

</beans>