<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
<!-- 	<bean id="tv1" class="polymorphism.ssTV09">
		<constructor-arg index="0" ref = "pd"></constructor-arg> 참조형
		<constructor-arg index="1" value = "127000"></constructor-arg> 값 형
	</bean>
	
	<bean id="pd" class="polymorphism.pdSpeaker09" />
	<bean id="nb" class="polymorphism.nbSpeaker09" />
	<bean id="enc" class="polymorphism.encSpeaker09" /> -->
	
	<!-- 패키지 안의 내용을 자동으로 인식  -->
	<!-- 변수를 줄 수있는 부분이 없음 so, annotation에 변수 명 줌  -->
	<context:component-scan base-package="polymorphism"></context:component-scan>

</beans>
